{% extends 'main/layout.html' %}
{% block title %}
Project
{% endblock %}
{% block main-content %}
{% load static %}
<div class="project-parking">
    <h1 class="project-parking__parking parking">
        <span class="parking__first">ПАРКИНГ НА</span>
        <br>500 АВТОМОБИЛЕЙ
    </h1>
    <div class="project-parking__container-parking container-parking">
        <img class="container-parking__photo" src="{% static 'main/img/project2/photo1.png' %}" alt="office">
        <div class="container-parking__info-office info-office">
            <img class="info-office__img" src="{% static 'main/img/project2/photo2.png' %}" alt="working space">
            <p class="info-office__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard
                dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially
                unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem
                Ipsum is simply
                dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                text ever since
                the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with
                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is
                simply dummy text of
                the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in
                the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with.
            </p>
        </div>
        <img class="container-parking__scheme" src="{% static 'main/img/project2/scheme.png' %}" alt="scheme of parking">
    </div>
</div>
{% endblock %}